body{
    background-color: rgb(240, 240, 240);    
}

.navbar{        
    width: 100%;
    height: 66px;      
    border-bottom: 1px solid black; 
    top: -16px;     
}

.navbar a:hover{
    color: rgb(70, 70, 70);
    background-color: rgb(250, 238, 174);
}

.navbar a{
    color: rgb(172, 46, 46);
    text-decoration: none;
    font-family: "Courier New";
    padding: 20px;   
    font-size: 35px;    
    text-transform: uppercase;
    transition: 0.3s;    
    text-align: center;         
}

.logo{
    float: left;   
    padding: 0 4em; 
    margin-top: -35px;     
}

.logo1{
    text-align: center;
    width: 100%;
    height: 200px;  
    border-bottom: 1px solid rgb(211, 211, 211);    
}

.container{  
    width:70%;
    padding: 20px;  
    margin: auto;   
    background-color: rgb(211, 211, 211);
    display: flex;
    border-radius: 10px; 
    min-width: 10%;                     
}

.box{    
     height: 250px;
     width: 300px;     
     background-color: azure;
     border: 1px solid black;   
     box-sizing: border-box;  
     border-top-left-radius: 25px; 
     border-bottom-left-radius: 25px;
     flex: 1;  
     transition: 1s; 
     text-align: center;     
     background-image: url("IMG/bus.jpg");    
     background-repeat: inherit;
     min-width: 10px;
}

.box:hover{
    flex: 1.3;  
    background-color: cornsilk;
}

.box1{    
     height: 250px;
     width: 300px;     
     background-color: azure;
     border: 1px solid black;   
     box-sizing: border-box;        
     flex: 1;  
     transition: 1s;
     margin-left: 3px;
     margin-right: 3px;
     text-align: center;     
     background-image: url("IMG/road.jpg");    
     background-repeat: inherit;
     min-width: 10px;
}

.box1:hover{
    flex: 1.3;
    background-color: cornsilk; 
}

.box2{    
     height: 250px;
     width: 300px;     
     background-color: azure;
     border: 1px solid black;   
     box-sizing: border-box; 
     border-top-right-radius: 25px; 
     border-bottom-right-radius: 25px;       
     flex: 1;   
     transition: 1s;  
     text-align: center;     
     background-image: url("IMG/rez.jpg");    
     background-repeat: inherit;
     min-width: 10px;
}

.box2:hover{
    flex: 1.3; 
    background-color: cornsilk;
}

.box a{
    text-decoration: none; 
    text-transform: uppercase;    
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;

}

.box a:hover{
    color: red;
    transition: 0.5s; 
    font-weight: 700;
}

.box1 a{
    text-decoration: none; 
    text-transform: uppercase;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;    
}

.box1 a:hover{
    color: red;
    transition: 0.5s;
    font-weight: 700;
}

.box2 a{
    text-decoration: none; 
    text-transform: uppercase;
    color: white; 
    font-family: 'Courier New', Courier, monospace;  
    font-size: 35px;
}

.box2 a:hover{
    color: red;
    transition: 0.5s;
    font-weight: 700;
}

.box p{
    color: white;
    font-size: 15px;
    position: relative;
}

.btn-detalii{
    width: 80px;
    height: 35px;
    background-color: green;
    color: cornsilk;
    border: none;
    cursor:pointer;
    border-radius: 20px;
    transition: 1s;
    opacity: 0.7;      
}

.btn-detalii:hover{
    background-color: firebrick;
    transition: 1s;
    opacity: 1;
}


.btn-curse{    
    width: 180px;
    height: 95px;  
    background-color: green;
    color: cornsilk;  
    border: none;
    cursor: pointer; 
    border-radius: 20px;
    transition: 1s;
    opacity: 0.7;     
}

.btn-curse:hover{
    background-color: firebrick;
    transition: 1s;
    opacity: 1;
}

.btn-rez{
    width: 180px;
    height: 95px;
    background-color: green;
    color: cornsilk;
    border: none;
    cursor:pointer;
    border-radius: 20px;
    transition: 1s;
    opacity: 0.7;    
}

.btn-rez:hover{
    background-color: firebrick;
    transition: 1s;
    opacity: 1;
}


.container1{
    width: 70%;
    height: auto;
    margin: auto;    
    background-color: rgb(240, 240, 240); 
    border: 1px solid black;    
    border-radius: 10px;    
}

.acordion{
    width: 100%;    
    margin: auto;    
    text-decoration: none;    
}

section a{    
    display: block;
    text-align: center;
    padding: 10px;
    background-color: rgb(139, 0, 0);
    border-bottom: 2px solid gray;
    color: white;
    font-size: 35px;       
}

section a:hover{
    color: rgb(212, 181, 0);
    transition: 0.5s;
}

section p{
    overflow: hidden;
    max-height: 0em;
    padding: 0;
    margin: 0;
    text-align: center;    
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}

section:target p{
    max-height: 20em;
    padding: 20px;
    transition: 1s;
}

.background{
    width: 100%;
    height: 350px;
    background-image: url("IMG/WPP.jpg");    
}

.title{   
    width: 100%; 
    height: 350px;     
}

.title p{
    font-size: 90px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: white;
    float: left;
    margin-left: 80px;
    margin-top: 25px;
    text-shadow: 3px 3px 8px rgb(70, 70, 70);

}

.title p1{
    width: 40%;
    font-size: 20px;
    text-align: center;
    color: white;
    float: right;
    margin-right: 80px;
    margin-top: 55px;
}

.container2{
    text-align: center;
    width: 100%;
    height: 500px;
    margin: auto;    
    background-color: rgb(240, 240, 240); 
    background-image: url("IMG/WPP1.jpg");      
}

.box4{    
    display: inline-block;
    height: 300px;
    width: 30%;         
    text-align: center;     
    margin-top: 50px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

.box4 p{
    font-size: 18px;    
}

.skewbox{  
    position: relative;
    margin-top: -37px;  
    width: 100%;
    height: 300px;
    background-color: rgba(240, 240, 240, 0.8);
}

.skewbox:after{
    position: absolute;
    width: 100%;
    height: 350px;
    content:'';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0075;
    transform-origin: top right;
    transform: skewY(-3deg);
}

.skewbox p{
    padding-top: 35px;
    margin-left: 100px;    
    font-size: 20px;

}

.header{
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: rgb(0, 83, 179);
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    margin-top: 75px;
}

form{
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid black;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.input-group{
    margin: 10px 0px 10px 0px;
}

.input-group label{
    display: block;
    text-align: center;
    margin: 3px;
}

.input-group input{
    height: 30px;
    width: 400px;
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid grey; 
    margin-left: 5px;  
    margin-right: 5px;  
}

.btn-login{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgb(0, 83, 179);
    border: none;
    border-radius: 5px;
    margin-top: 10px;   
    margin-left: 5px;  
}

.btn-register{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgb(0, 83, 179);
    border: none;
    border-radius: 5px;
    margin-top: 10px;   
    margin-left: 5px; 
}

.error{
    width: 92%;     
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
}

.success{
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.footer{
    width: 100%;
    height: 80px;    
    background-color: antiquewhite;
    margin-top: 50px;     
}

.image{
    width: 100%;
    border: 1px solid white;    
}

.overlay{
    position: relative; 
    bottom: 70px;     
    background: rgba(0, 0, 0, 0.5);     
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center; 
    border-left: white;
    border-right: white;        
}

.w3-col:hover .overlay{
    opacity: 1;      
}

.prezentare{    
    width: 70%;
    margin: auto;    
    text-align: center;
    font-size: 30px;
    background-color: rgb(240, 240, 240);    
    border-radius: 10px;     
}

.prezentare p{ 
    width: 80%;
    margin: auto; 
}